.charts {
  margin-top: 40px;
}
.apexcharts-toolbar {
  display: none !important;
}
.apexcharts-legend {
  margin-top: 50px !important;
}
.chartBox{
  width: 500px;
}
@media (width < 700px) {

  .cardBox{
    width: 350px;;
  }
}
.grid2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}