.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5rem 1rem;
  }
  
  .logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 1rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .mobile-menu-icon {
    position: absolute;
    top: 10px;
    left:90%;
    display: none;
    font-size: 1.5rem;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .nav-links-mobile {
    display: flex;
    flex-direction: column;  
    position: absolute;
    top: 4rem;  
    left: 0;
    width: 99%;  
    background-color: #333; 
    padding: 1rem;
  }
  
  .nav-links-mobile li {
    margin: 1rem 0;}
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .mobile-menu-icon {
      display: block;
    }
  }
  