.box{
    background-color:rgba(0, 102, 255, 0.055);
    width: 320px;
    padding: 0px 0px 10px 10px ;
    margin-top: 20px;
    border: 2px solid blue;
    border-top: 20px solid rgb(0, 102, 255);
    border-radius: 20px;
    box-shadow: 3px -3px 15px rgba(0, 0, 255, 0.495);
}
.complete{
    
        background-color:rgba(0, 102, 255, 0.055);
        width: 320px;
        padding: 0px 0px 10px 10px ;
        margin-top: 20px;
        border: 2px solid greenyellow;
        border-top: 20px solid yellowgreen;
        border-radius: 20px;
        box-shadow: 3px -3px 15px green;
    
}

.incomplete{
    
        background-color:rgba(0, 102, 255, 0.055);
        width: 320px;
        padding: 0px 0px 10px 10px ;
        margin-top: 20px;
        border: 2px solid rgb(237, 48, 35);
        border-top: 20px solid rgb(230, 61, 35);
        border-radius: 20px;
        box-shadow: 3px -3px 15px rgb(122, 4, 4);
    
}
.h3{
    margin: 0px;
    display: inline;
}

.edit
{
    background-color: rgb(241, 28, 110);
    border: none;
    color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgb(25, 25, 122);
}

.btnsBox{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
}

.btns{
    height: 26px;
    width: 90px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 65, 120);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-weight: 600;
    /* box-shadow: 2px 2px 3px rgb(10, 10, 10); */
    box-shadow: inset -1px -1px 4px rgb(56, 154, 234),1px 1px 5px black; 
    cursor: pointer;
    &:hover{
        transform:translateY(-2px);
        box-shadow: 2px 2px 5px rgb(67, 67, 180);
    }
    &:active{
        transform: scale(0.9);
    }
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.timeBtn{
    margin: 0px 20px 0px;
    height: 25px;
    width: 60px;

    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(254, 254, 255);
    background-color:rgb(226, 34, 34);
    border-radius: 10px;
    /* font-weight: 600; */
    /* box-shadow: 2px 2px 3px rgb(10, 10, 10); */
    box-shadow: inset -1px -1px 5px rgba(40, 37, 37, 0.988),2px 2px 10px rgba(155, 3, 3, 0.723); 
    cursor: pointer;
    &:hover{
        transform:translateY(-2px);
        box-shadow: 2px 2px 5px rgb(67, 67, 180);
    }
    &:active{
        transform: scale(0.9);
    }
}

.timeText{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px ;
}