.heading {
    text-align: center;
   
}

.btn{
    margin: 10px;
    background-color: rgb(223, 39, 39);
    height:30px;
    border:none; 
    border-radius: 10px;
    color : white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.718);
    cursor: pointer;

}
.btn:hover{
    box-shadow: 2px 2px 15px red;
}
.btn:active{
    transform: scale(0.7);
}

.task_pop_up{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    inset: 0;
    z-index: 100;
}
.task_pop_up_box{
 background-color: rgba(177, 218, 193);
 width: 310px;
 padding: 15px 30px 10px 30px;
 border-radius: 30px;
 box-shadow: inset -2px -2px 8px rgba(0, 0, 0, 0.71), 5px 5px 20px rgb(81, 99, 177);
 
}
.task_pop_up_head{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.task_pop_up_head_btn{
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
    text-align: right;
    font-size: large;
    font-weight: 600;
    &:hover{
        transform: scale(1.2);
        cursor: pointer;
    }
    &:active{
        transform: scale(0.8);
    }
}
.task_pop_up_input{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.964);
    border: 1px solid rgb(68, 68, 186);
    box-shadow: 1px 1px 5px rgba(72, 255, 0, 0.758);
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 0px 0px 5px;
}
.task_pop_up_input_text{
    margin: 0;
    text-align: left;
    font-weight: 600;
}
.task_pop_up_input_btn{
    height: 45px;
    width: 100px;
    margin: 20px 0 20px 0;
    background-color: rgb(244, 33, 75);
    border-radius: 10px;
    color: rgb(255, 251, 37);
    font-size: 15px;
    border:none;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.768), 2px 2px 5px rgba(255, 0, 0, 0.715);
    
    &:hover{
    box-shadow: inset -3px -3px 8px rgba(0, 0, 0, 0.688), 4px 4px 10px rgb(255, 0, 0);
    transform: scale(1.05);
    }
    &:active{
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.874);
    transform: scale(0.95);
    }

}